body {
    background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
    margin: 0; 
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

h1{
    width: 90%;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 25%;
}

a {
    width: 90%;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    margin: 10; 
}





